/* Write your CSS here */
.avatar-image {
  width: 50px;
}
.small-bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.list-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8ff;
  border-radius: 6px;
  padding: 5px;
  margin: 10px;
}
.name {
  font-size: 15px;
  font-family: 'Roboto';
  color: #e73959;
}
.icons {
  width: 12px;
}
.icon-para {
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #1e293b;
}
